<template name="engageCreate">
    <div class="container-fluid engage-create">
        <form class="form-inline">
        <section class="row name-input">
            <div class="col-sm-12">
                <input id="engage-name" class="form-control" type="text" placeholder="Engagement On...">
                <button class="btn btn-lp pull-right">Create</button>
            </div>
        </section>
        <section class="row poi-selection">
            <div class="col-sm-12">
                <div class="ps-title">
                    <div>VISITORS WHO ARE INTERESTED IN:
                        <a class="pull-right" href="#select_poi">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ps-selected">
                    <div class="ps-poi-name">{{ getSelectedPoi.name }}</div>
                    <div class="ps-poi-num-targeted">{{_.numberFormat getSelectedPoi.numInterested }} targeted</div>
                </div>
            </div>
        </section>

        <section class="row poi-selection">

        </section>
        <section class="row retargeting">

        </section>
    </form>
    </div>
</template>