<template name="engage-create">
    <div class="container-fluid engage-create">
        <form class="form-inline">
        <div class="row name-input">
            <div class="col-sm-12">
                <input id="engage-name" class="form-control" type="text" placeholder="Engagement On...">
                <button class="btn btn-lp pull-right">Create</button>
            </div>
        </div>
        <div class="row poi-selection">
            <div class="col-sm-12 ps-title">
                <div>VISITORS WHO ARE INTERESTED IN:
                    <a class="pull-right" href="#select_poi">Edit</a>
                </div>
            </div>
        </div>

        <div class="row poi-selection">

        </div>
        <div class="row retargeting">

        </div>
    </form>
    </div>
</template>