@import 'variable';
// Base Style go here
/* Sticky footer styles by bootstrap */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $dimen-footer-height;
  /* Other Setting */
  font-size: $dimen-font-size;
  font-weight: $dimen-font-weight-light;
  color:$lp-dark-grey;

  .title {
    font-weight: normal;
  }

  a {
    color: $lp-blue;
    &:hover {
      color:darken($lp-blue, 25%);
      text-decoration: none;
    }
  }

  .btn-lp {
    background-color: $lp-blue;
    color: $lp-white;
    font-size: $dimen-h3-size;
    width: 200px;
    height: 50px;
    font-weight: $dimen-font-weight-light;
    vertical-align: middle;
  }
}