@import 'variable';
// Base Style go here
/* Sticky footer styles by bootstrap */
html {
  position: relative;
  min-height: 100%;
  //to set the root font size for rem
  font-size: $dimen-font-size;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $dimen-footer-height;
  /* Other Setting */
  font-weight: $dimen-font-weight-light;
  color:$lp-dark-grey;

  .title {
    font-weight: normal;
  }

  a {
    color: $lp-blue;
    &:hover {
      color:darken($lp-blue, 25%);
      text-decoration: none;
    }
  }

  .btn-lp {
    background-color: $lp-blue;
    color: $lp-white;
    font-size: $dimen-h3-size;
    border-color: $lp-blue;
    font-weight: $dimen-font-weight-light;
    vertical-align: middle;
    &.active,&:hover {
      background-color: transparent;
      color: $lp-blue;
    }
  }

  .btn-lp-r {
    background-color: transparent;
    color: $lp-blue;
    border-color: $lp-blue;
    font-size: $dimen-h3-size;
    font-weight: $dimen-font-weight-light;
    vertical-align: middle;
    &.active,&:hover {
      background-color: $lp-blue;
      color: $lp-white;
    }
  }

  .input-lp {
    border-shadow : none;
    border: none;
    border-bottom: 1px solid $lp-light-grey;
  }

  input[type="checkbox"] {
    display: none;
    & + label span {
      display: inline-block;
      width: 40px;
      height: 25px;
      background: url("images/off.png") left top no-repeat;
      background-size: contain;
      margin-right:45px;
    }
  }

  input[type="checkbox"]:checked + label span {
    display:inline-block;
    width: 40px;
    height: 25px;
    background: url("images/on.png") left top no-repeat;
    background-size: contain;
    margin-right:45px;
  }

}