@import 'variable';

.engage-create {
  .name-input {
    margin-top:30px;
    .create-btn-container {
      height: 80px;
      button {
        margin: 18px 0px;
        &:hover,&:active {
          color: darken($lp-white, 10%);
        }
      }
    }
  }
  #engage-name {
    box-shadow: none;
    border-color: transparent;
    border-bottom: 1px solid $lp-light-grey;
    border-radius: 0;

    font-size: $dimen-h1-size;
    background: none;
    margin-right: 25px;
    padding: 0;
    height: auto;
  }
  .btn-lp {
    width: auto;
    height: auto;
  }

  .poi-selection {
    margin-top: 30px;
  }

  .ps-title {
    div {
      font-size: $dimen-h3-size;
      border-bottom: 1px solid $lp-light-grey;
    }
  }

  .ps-selected {
    margin:45px 0px;
    .ps-poi-name {
      text-align: center;
      font-size: $dimen-h1-size;
      color: $lp-blue-light1;
    }
    .ps-poi-num-targeted {
      text-align: center;
      font-size: $dimen-h2-size;
    }
  }
}