@import "variable";

<<<<<<< HEAD
.gauge {

  width:$dimen-gauge-width;
  height:$dimen-gauge-height;

  svg.circular {
    width:$dimen-gauge-width;
    height:$dimen-gauge-height;
    margin: 0 auto;
    display: block;

    g.circle {
      transform: translate(26px,26px);

      circle {
        stroke: $lp-blue;
        fill: transparent;
      }
    }

    .corner {
      &.top-left {
        text {
          transform: translate(10px, 40px);
        }
      }
      &.top-right {
        transform: translate(206px,0px);
        text {
          transform: translate(50px, 40px);
        }
      }
      &.bottom-right {
        transform: translate(206px,206px);
        text {
          transform: translate(50px, 74px);
        }
      }
      &.bottom-left {
        transform: translate(0px,206px);
        text {
          transform: translate(10px, 74px);
        }
      }

      &:hover,&>.active {
        polygon {
          fill: $lp-blue;
        }
        text {
          fill: $lp-white;
        }
      }

      polygon {
        fill: transparent;
        stroke: transparent;
      }

      text {
        fill: $lp-blue;
        font-size: $dimen-em-h3;
      }
    }
  }



  .info {
    position: absolute;
    top: 70px;
    width: $dimen-gauge-width;

    .text {
      text-align: center;
      width: $dimen-gauge-width;
    }

    .minus {
      color: $lp-red;
    }
    .plus {
      color: $lp-green;
    }

    .title {
      margin-top: 10px;
    }
    .glyphicon-user {
      font-size: $dimen-em-h2;
    }

    .change {
      font-size: $dimen-em-h3;
      font-weight: $dimen-font-weight-light;
    }
=======
svg.circular {
  margin:0 auto;

  circle {
    stroke: $lp-blue;
    fill: transparent;
>>>>>>> Added gauge circle
  }
}