@import "variable";

.gauge {
  width: $dimen-gauge-width;
  height: $dimen-gauge-height;

  svg.circular {
    width: $dimen-gauge-width;
    height: $dimen-gauge-height;
    margin: 0 auto;
    display: block;
    g.circle {
      transform: translate(26px, 26px);
      circle {
        stroke: $lp-blue;
        fill: transparent;
      }
    }
    .corner {
      &.top-left {
        text {
          transform: translate(10px, 35px);
        }
      }
      &.top-right {
        transform: translate(206px, 0px);
        text {
          transform: translate(56px, 35px);
        }
      }
      &.bottom-right {
        transform: translate(206px, 206px);
        text {
          transform: translate(56px, 76px);
        }
      }
      &.bottom-left {
        transform: translate(0px, 206px);
        text {
          transform: translate(10px, 76px);
        }
      }

      &:hover, &.active {
        polygon {
          fill: $lp-blue;
        }
        text {
          fill: $lp-white;
        }
      }

      polygon {
        fill: transparent;
        stroke: transparent;
      }

      text {
        fill: $lp-blue;
        font-size: $dimen-h3-size;
      }
    }
  }

  .info {
    position: absolute;
    top: 60px;
    width: $dimen-gauge-width;

    .text {
      text-align: center;
      width: $dimen-gauge-width;
    }

    .glyphicon-user {
      font-size: $dimen-h2-size;
    }

    .sub {
      .row {
        width: 120px;
        margin: 0 auto;
        .sub-content {
          color:$lp-light-grey;
          font-size: $dimen-h3-size;
          font-weight: $dimen-font-weight-light;

          &.minus {
            color: $lp-red;
          }
          &.plus {
            color: $lp-green;
          }
        }
        .sub-title {
          color:$lp-light-grey;
          font-size: $dimen-h5-size;
          font-weight: $dimen-font-weight-light;
        }
      }
    }
  }
}