@import 'variable';

/* header navbar */
.navbar-dimen { //same specificity as `.navbar-default`, but it will override the default as it appear later
  background: $dimen-header-bg;
  height: $dimen-header-height;
  border-color: transparent transparent white transparent;
  border-radius: 0;
  margin-bottom: 0;
  font-size:$dimen-h3-size;
}
.navbar-dimen.navbar { //better meaning with higher level of specificity
  .navbar-collapse {
    ul.navbar-nav {
      li {
        > a {
          background-color: transparent;
          background-repeat: repeat-x;
          background-position: bottom;
          color: $lp-white;
          font-weight: $dimen-font-weight-light;
          line-height: 43px; //height of the element
        }
        &.active > a {
          background-image: url("/images/header_link_active.png");
        }
      }
    }
  }
  .navbar-brand {
    background-image: url("/images/logo.png");
    background-size: contain;
    margin: 15px 25px 17px 2px;
    width: $dimen-logo-size;
    height: $dimen-logo-size;
  }
  ul.navbar-nav+.navbar-right {
    .navbar-settings {
      &:focus {
        background-image: url("/images/header_link_active.png");
        background-repeat: repeat-x;
        background-position: center bottom;
      }
      width: $dimen-icon-size;
      height: $dimen-header-height;
      color: $lp-white;
      min-width: 50px;
      padding:15px 0px;
      line-height: 43px;
      text-align: center;
      display: block;
    }

    .dropdown-menu {
      margin: 0;
      border-right : 5px solid $lp-blue;
      border-bottom : 5px solid $lp-blue;
      border-left : 5px solid $lp-blue;
      border-radius: 0px;
      width: 300px;
      background-color: $lp-white;
      li {
        padding: 5px 25px;
        a {
          min-width: 200px;
          &:hover{
            background-color: $lp-white;
          }
          color: $lp-blue;
          display:inline-block;
        }
        font-size: $dimen-h3-size;

      }
    }
  }
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $dimen-footer-height;
  background-color: $dimen-footer-bg;

  p {
    color: $lp-white;
    margin: 0;
    font-size: $dimen-h4-size;
    line-height: $dimen-footer-height;
  }
}