/**
 * This file includes /pois and /poi as they are very similar
 */
@import "variable";

.pois {
  .total {
    font-size: $dimen-h1-size;
    font-weight: $dimen-font-weight-light;
    height: 65px;
    line-height: 65px;
  }

  .title {
    font-size: $dimen-h3-size;
  }

  .page-top-bar {
    margin-top: 30px;
    margin-bottom: 30px;
    h1 {
      font-size: $dimen-h1-size;
      display: inline-block;
      font-weight: $dimen-font-weight-light;
      margin: 0;
      padding: 0;
    }
    .activity {
      font-size: $dimen-h1-size;
      font-weight: bolder;
      &.active {
        color: $lp-light-green;
      }
      &.inactive {
        color: $lp-light-grey;
      }
    }
    .btn-lp {
      width: 200px;
      height: 50px;
    }
  }

  .main-slider {
    margin-top: 90px;
    margin-bottom: 90px;
    .container {
      min-width: 768px;
      .slick-slide {
        width:384px;
      }
      .aggregate-info {
        width: 280px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 260px;
        hr {
          border-color: $lp-light-grey;
        }
        .detail {
          font-size: $dimen-h1-size;
        }
        .data-type-icon {
          width: 55px;
          font-size: $dimen-h2-size;
          .glyphicon {
            line-height: 55px;
          }
        }
        .row {
          width: 230px;
        }
        .title {
          font-size: $dimen-h3-size;
        }
      }

      .highlighted-list {
        min-width: 340px;
        margin: 0 auto;
        tr {
          th, td {
            &:last-child {
              text-align: right;
            }
          }
          &:nth-child(2) {
            td:first-child {
              color: $lp-blue-deep;
            }
          }
          &:nth-child(3) {
            td:first-child {
              color: $lp-blue;
            }
          }
          &:nth-child(4) {
            td:first-child {
              color: $lp-blue-light1;
            }
          }
          &:nth-child(5) {
            td:first-child {
              color: $lp-blue-light2;
            }
          }
        }
      }
    }
  }

  .list {
    th {
      width: 15%;
      text-align: right;
    }
    td {
      padding: 15px 0px;
      text-align: right;
      &:first-child {
        text-align: left;
        width: 70%;
      }
    }
  }

  table {
    th {
      font-size: $dimen-h3-size;
      font-weight: $dimen-font-weight-light;
      color: $lp-light-grey;
      border-bottom: 1px solid $lp-light-grey;
      &:first-child {
        text-align: left;
        color: $lp-dark-grey;
        .glyphicon {
          color: $lp-blue;
        }
        font-weight: normal;
        width: 70%;
      }
    }
    td {
      font-size: $dimen-h3-size;
      font-weight: $dimen-font-weight-light;
    }
  }
}
