/**
 * This file includes /pois and /poi as they are very similar
 */
@import "variable";

.total {
  font-size: $dimen-h1-size;
  font-weight: $dimen-font-weight-light;
  height:65px;
  line-height:65px;
}

.title {
  font-size: $dimen-h3-size;
}

.page-top-bar {
  margin-top: 30px;
  margin-bottom: 30px;
  h1 {
    font-size: $dimen-h1-size;
    display:inline-block;
    font-weight: $dimen-font-weight-light;
    margin:0;
    padding:0;
  }
  .activity {
    font-size: $dimen-h1-size;
    font-weight: bolder;
    &.active {
      color: $lp-light-green;
    }
    &.inactive {
      color: $lp-light-grey;
    }
  }
  .btn-lp {
    background-color: $lp-blue;
    color: $lp-white;
    font-size:$dimen-h3-size;
    width:200px;
    height:50px;
    font-weight: $dimen-font-weight-light;
    vertical-align: middle;
  }
}

.middle {
  margin-top: 90px;
  margin-bottom: 90px;
  .container {
    .aggregate-info {
        width: 280px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 260px;
        hr {
          border-color: $lp-light-grey;
        }
        .detail {
          font-size: $dimen-h1-size;
        }
        .data-type-icon {
          width: 55px;
          font-size: $dimen-h2-size;
          .glyphicon {
            line-height: 55px;
          }
        }
        .row {
          width: 230px;
        }
        .title {
          font-size: $dimen-h3-size;
        }
      }
    }
  }

.list {
  font-size: $dimen-h3-size;
  font-weight: $dimen-font-weight-light;
  th {
    font-weight: $dimen-font-weight-light;
    color: $lp-light-grey;
    width:15%;
    border-bottom: 1px solid $lp-light-grey;
    text-align: right;
    &:first-child {
      text-align: left;
      color: $lp-dark-grey;
      .glyphicon {
        color: $lp-blue;
      }
      font-weight: normal;
      width:70%;

    }
  }
  td {
    padding: 15px 0px;
    &:first-child {
      width:70%;
    }
  }

}


