// Variable file
// Color Set
$lp-blue: #4A90E2;
$lp-white: #FAFAFA;
$lp-dark-grey: #646464;

$dimen-header-height : 75px;
$dimen-header-bg: $lp-blue;
$dimen-footer-height : 40px;
$dimen-footer-bg: $lp-dark-grey;
$dimen-icon-size: 30px;
$dimen-logo-size: 40px;
