// Variable file
// Color Set
$lp-blue: #3D78FB;
$lp-white: #FAFAFA;
$lp-dark-grey: #646464;
$lp-light-grey: #979797;
$lp-red: #D0021B;
$lp-green: #35901C;
$lp-light-green: #8BCA2F;

// Header & footer
$dimen-header-height : 75px;
$dimen-header-bg: $lp-blue;
$dimen-footer-height : 40px;
$dimen-footer-bg: $lp-dark-grey;
$dimen-icon-size: 30px;
$dimen-logo-size: 40px;
$dimen-gauge-width: 292px;
$dimen-gauge-height:292px;

$dimen-font-size : 8px;
$dimen-h4-size : 1.618em;
$dimen-h3-size : 2.618em;
$dimen-h2-size : 4.236em;
$dimen-h1-size : 6.854em;

$dimen-font-weight-light: 300;
