// Variable file
// Color Set
//var colorsMulti = ["#1A48AF", "#3D78FB", "#82BCFF", "#BCDBFF"];
$lp-blue-deep: #1A48AF;
$lp-blue: #3D78FB;
$lp-blue-light1: #82BCFF;
$lp-blue-light2: #BCDBFF;
$lp-white: #FAFAFA;
$lp-dark-grey: #646464;
$lp-light-grey: #979797;
$lp-red: #D0021B;
$lp-green: #35901C;
$lp-light-green: #8BCA2F;

// Header & footer
$dimen-header-height : 75px;
$dimen-header-bg: $lp-blue;
$dimen-footer-height : 40px;
$dimen-footer-bg: $lp-dark-grey;
$dimen-icon-size: 30px;
$dimen-logo-size: 40px;
$dimen-gauge-width: 292px;
$dimen-gauge-height:292px;

$dimen-font-size : 13px;
$dimen-h5-size : 0.714rem;// do not follow scale because readability
$dimen-h4-size : 1rem;
$dimen-h3-size : 1.618rem;
$dimen-h2-size : 2.618rem;
$dimen-h1-size : 4.236rem;

$dimen-font-weight-light: 300;
