{
  "firebase": {
    "root": "FIREBASE_REF_URL",
    "secret": "FIREBASE_SECRET",
    "paths": {
      "beaconEvents": "beacon_events",
      "visitorEvents": "visitor_events"
    },
    "clearFirebaseEvents": true
  },

  "email": {
    "enableInNonProduction": false,
    "username": "From mailgun.com. Substitute @ with %40",
    "password": "From https://mailgun.com/app/domains",
    "SMTP": "smtp.mailgun.org",
    "port": 587,
    "templates": {
      "siteName": "http://looppulse.com",
      "from": "valid email address"
    }
  },

  "accounts": {
    "forbidClientAccountCreation": true
  },

  "S3Bucket" : "looppulse-app-dev",
  "AWSRegion" : "ap-southeast-1",
  "AWSAccessKeyId" : "YOUR_ACCESS_KEY_ID",
  "AWSSecretAccessKey" : "YOUR_SECRET_ACCESS_KEY",

 "DEBUG": {
   "logging": true,
   "fixtures":{
     "load": true,
     "clear": false
   }
 }
}
