{
  "firebase": {
    "root": "FIREBASE_REF_URL",
    "secret": "FIREBASE_SECRET",
    "paths": {
      "beaconEvents": "beacon_events",
      "visitorEvents": "visitor_events"
    },
    "clearFirebaseEvents": true
  },

  "email": {
    "enableInNonProduction": false,
    "username": "From mailgun.com. Substitute @ with %40",
    "password": "From https://mailgun.com/app/domains",
    "SMTP": "smtp.mailgun.org",
    "port": 587
  },

  "accounts": {
    "forbidClientAccountCreation": true
  },

  "DEBUG": {
    "logging": true,
    "fixtures":{
      "load": true,
      "clear": false
    }
  }
}
