{
  "firebase": {
    "root": "FIREBASE_REF_URL",
    "secret": "FIREBASE_SECRET",
    "paths": {
      "beaconEvents": "beacon_events",
      "visitorEvents": "visitor_events"
    }
  },

  "clearFirebaseEvents": false,

  "accounts": {
    "forbidClientAccountCreation": true,
    "admin" :{
      "login": "hello@looppulse.com",
      "passphrase": null,
      "showInfoAfterCreation": false,
      "mailInfoAfterCreation": true
    }
  },
  
  "loadFixtures": true,
  "resetFixturesOnStart": false
}
