<template name="pois">
    <div class="container-fluid pois">
        <div class="row page-top-bar">
            <div class="col-md-12 name"><h1>{{ workspace.name }}</h1><sup class="activity {{ poisMetric.activity }}">&#8226;</sup>
                <button id="pois-goto-create-engage" class="btn btn-lp pull-right">Engage Visitors</button>
            </div>
        </div>
        <div class="row main-slider">
            <div class="col-md-12 container">
                <div class="content">
                    <div class="aggregate-info center-block">
                        <div class="row center-block">
                            <table>
                                <tr>
                                    <td class="data-type-icon"><span class="glyphicon glyphicon-user"></span></td>
                                    <td class="detail"> {{_.numberFormat poisMetric.totalVisitors }}</td>
                                </tr>
                                <tr>
                                    <td class="data-type-icon"></td>
                                    <td class="title pull-right">TOTAL VISITORS</td>
                                </tr>
                            </table>
                        </div>
                        <hr/>
                        <div class="row center-block">
                            <table>
                                <tr>
                                    <td class="data-type-icon"><span class="glyphicon glyphicon-time"></span></td>
                                    <td class="detail"> {{formatDuration poisMetric.averageDwellTime }}</td>
                                </tr>
                                <tr>
                                    <td class="data-type-icon"></td>
                                    <td class="title pull-right">AVERAGE DWELL</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="content">
                  {{> gauge }}
                </div>
                <div class="content">
                    <table class="highlighted-list table-responsive">
                        <tr>
                            <th>Top Interested</th>
                            <th>number</th>
                        </tr>
                      {{#each getTop3PoisByInterestedVisitors }}
                          <tr>
                              <td>{{_.capitalize name}}</td>
                              <td>{{ interestedVisitors }}</td>
                          </tr>
                      {{/each }}
                    </table>
                </div>
            </div>
        </div>
        <div class="row list">
            <div class="col-md-12 table-responsive">
                <table class="table">
                    <tr>
                        <th>{{ poisMetric.pois.length }} {{ workspace.poiDescriptors.many.toUpperCase }}<span
                                class="glyphicon glyphicon-filter"></span></th>
                        <th>Interested</th>
                        <th>Total</th>
                    </tr>
                  {{#each poisMetric.pois}}
                      <tr>
                          <td><a href="{{pathFor route='poi' id=this._id }}">{{_.capitalize name }}</a></td>
                          <td>{{ interestedVisitors }}</td>
                          <td>{{ totalVisitors }}</td>

                      </tr>
                  {{/each }}
                </table>
            </div>
        </div>
    </div>
</template>
