<template name="home">
    <div class="container">
        <div class='centered intro'>
          <br>
          <h1>Loop Pulse</h1>
          We <i>track</i>, <i>analyze</i>, and <i>re-engage</i> your in-store visitors.
          <br>
          <br>
          Request early access <a href="https://docs.google.com/a/looppulse.com/forms/d/1AfLG_T5dbSPmbnf9h4pPfLJFM6bjXK-Bkc8ST0g2-V0/viewform">here</a>.
          <br>
          <br>
          <br>
          <div class='centered-form'>
            {{> atForm state='signIn'}}
          </div>
        </div>
    </div>
</template>
